<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Categorías: Detalle </h1>
    <button><a href="{% "producto:categoria_detail" categoria.id %}">Volver</a>"</button>
    <ul>
        <li>
            <strong> Nombre: </strong> {{ object.nombre}}
        </li>
        <li><strong> Descripción: </strong> {{ object.nombre}}
        </li>
    </ul>


</body>
</html>