<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categorías</title>
</head>
<body>

<h1>Categorías</h1>

<form method="get">
    <input type="text" name="consulta" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>

<a href="{% url 'producto:categoria_create' %}">Crear categoría</a>
<a href="{% url 'core:home' %}">Inicio</a>

<ul>
    {% for categoria in categorias %}
        <li>
            {{ categoria.id }} - {{ categoria.nombre }}

            <a href="{% url 'producto:categoria_detail' categoria.id %}">Detalle</a>
            <a href="{% url 'producto:categoria_update' categoria.id %}">Editar</a>
            <a href="{% url 'producto:categoria_delete' categoria.id %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay categorías</li>
    {% endfor %}
</ul>

</body>
</html>